<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Automation_Projects/Automation_Assignment">
        <groups>
            <run>
                <!--<include name="system"/>-->
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="run_test_case.RunTestCases"/>
        </classes>
    </test>
</suite>